body {
    background-color: #c0c0c0;
    margin: 20px;
}
#header {
    display: flex;
    justify-content: center;
    border-top: #808080 4px solid;
    border-left:  #808080 4px solid;
    border-right: white 4px solid;
    border-bottom: white 4px solid;
}
img {
    margin: 10px;
}